@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.about-section {
  display: flex !important;
  flex-flow: column wrap;
}

.about-header {
  font-family: "Roboto", sans-serif;
  align-self: center;
  animation: headerIn 3s;
}

@keyframes headerIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-header h1 {
  font-size: 4.5rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.about-detail {
  display: flex !important;
  flex-flow: row wrap;
  justify-content: space-around;
}

.about-img {
  display: block;
  box-sizing: border-box;
  padding: 2rem;
  order: 1;
  width: 50%;
  animation: imageIn 0.7s ease-in;
}
@keyframes imageIn {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}

.about-img img {
  width: 100%;
  height: 100%;
  border-radius: 2%;
}

.about-article {
  display: flex;
  flex-flow: row wrap !important;
  align-content: center;
  order: 2;
  width: 50%;
  animation: textIn 0.7s ease-in;
}

@keyframes textIn {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0px);
  }
}
.about-article p {
  text-align: center;
  font-size: 2rem;
}
