/* two column code */
.about-header {
  text-align: center;
  animation: headerIn 3s;
}

@keyframes headerIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-header h1 {
  font-size: 5em !important;
  font-family: sans-serif;
}
.about-row {
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
}
.about-text-col {
  order: 2;
  text-align: center;
  padding: 25px 0px;
  width: 50%;
  animation: textIn 0.7s ease-in;
}
.about-text-col p {
  font-size: 1.9em !important;
}
.about-image-col {
  text-align: center;
  order: 1;
  width: 50%;
  animation: imageIn 0.7s ease-in;
}

@keyframes textIn {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes imageIn {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}
.img-style {
  border-radius: 15px;
  height: 48vh;
}
