.home-slider .slider {
  height: 45rem !important;
  animation: slideFadeIn 2s;
}
@keyframes slideFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slider a.previousButton:not(.disabled):hover,
.slider a.nextButton:not(.disabled):hover {
  background-color: none !important;
  /* opacity: 0.5 !important; */
  transform: translateY(-50%) scale(1.5);
  cursor: pointer;
  color: white;
}

.slider-inner {
  background-color: rgba(255, 208, 0, 0.4) !important;
  height: 25rem;
  text-align: center !important;
  width: 35rem;
  position: relative;
  transform: translate(140px, 100px);
  transition-delay: 0.8s;
  opacity: 1;
}

.slide.animateIn.previous .slider-inner,
.slide.current .slider-inner,
.slide.animateIn.next .slider-inner {
  transform: translate(140px, 100px);
  transition-delay: 0.8s;
  opacity: 1;
}

.slide .slider-inner {
  transition: all 0.8s ease-in;
  transform: translateY(20px);
  opacity: 0;
}

.slider-header {
  font-size: 2.5em;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: bold;
  text-align: center !important;
}

.slider-para {
  font-size: 1.5em;
  padding: 16px;
  text-align: center !important;
}

.slider-button {
  background-color: burlywood !important;
  border: none;
  border-radius: 6%;
  color: white;
  padding: 12px 12px;
  text-align: center !important;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em !important;
  cursor: pointer !important;
  pointer-events: all !important;
}
