.review-div {
  margin: 2rem 2rem 0 2rem;
  background-image: URL("https://image3.jdomni.in/banner/29082019/F5/CE/A9/F46CE66CB2F89314BA8C760AD2_1567053802539.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.testimony-inner {
  background-color: rgba(255, 255, 255, 0.85);
}

.testimony-header {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 1rem;
}

.testimony-slider .swiper-wrapper {
  text-align: center !important;
}

.testimony-slider .swiper-container {
  padding: 2rem 2rem 4rem 2rem;
}

.review-card-header .MuiCardHeader-content {
  text-align: left;
}
.review-card-header .MuiAvatar-root {
  width: 4em !important;
  height: 4em !important;
}

.MuiRating-root {
  padding: 0.5rem;
}

.review-card-header .MuiCardHeader-title {
  font-size: 1.5rem !important;
}

.review-card-header .MuiCardHeader-subheader {
  font-size: 1rem !important;
}

.rating-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.testimony-slider-one {
  display: none;
}
